{% extends 'base.html' %}

{% block head %}
<div class="content">
    <div class="header">Pose Estimation For Weighlifting Exercise RightTech</div>
    <video class="video" autoplay muted loop><source src="{{ url_for('static', filename='videos/bp.mp4') }}" type="video/mp4"></video>
    <div class="container">
        <a href='/video_benchpress_left'><input type='button' id='button1' value='Left Side View'></a>
        <a href='/video_benchpress_right'><input type='button' id='button2' value='Right Side View'></a>
    </div>
</div>
{% endblock %}