<html>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-8  offset-lg-2">
                    <h3 class="mt-5">Live Streaming</h3>
                    <img src="{{ url_for('video_shoulderpress') }}" width="150%">
                    <img src="{{ url_for('video_benchpress_left') }}" width="150%">
                    <img src="{{ url_for('video_benchpress_right') }}" width="150%">
                    <img src="{{ url_for('video_squat_left') }}" width="150%">
                    <img src="{{ url_for('video_squat_right') }}" width="150%">
                    <img src="{{ url_for('video_deadlift_left') }}" width="150%">
                    <img src="{{ url_for('video_deadlift_right') }}" width="150%">
                    <img src="{{ url_for('video_tricepextension_left') }}" width="150%">
                    <img src="{{ url_for('video_tricepextension_right') }}" width="150%">
                    <img src="{{ url_for('video_bicepcurl_left') }}" width="150%">
                    <img src="{{ url_for('video_bicepcurl_right') }}" width="150%">
                    <a href="base.html">Click to go back to main screen</a>
                </div>
            </div>
        </div>
    </body>
</html>

        